h1{
    text-align: center;
    text-decoration: dashed;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color:bisque;
    padding: 30px;
    margin: auto;
   
}
h3{
    text-transform:capitalize;
    font-weight: 700;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: wheat;
  
}
.info-phone{
    display: flex;
   margin-right: 300px;
   padding-top: 100px;
}
.email{
    display: flex;
    margin-right: 300px;
    padding-top: 100px;
}
.contact-form {
display: flex;
margin-right: 300px;
padding-top: 100px;

}
.flex{
    display: flex;
    

}
button{
    
    border-style: double;
    background-color: brown;
    color: white;
    border-color: chocolate;
    border-top:55px;
    padding: 15px;
}
#form
{
    background-color:#dac1b2;
}
.flex{
    background-color: #FFF6DC;
}
#address{
font-weight: 600;
font-style: oblique;
font-size: x-large;

}
#phone{
    font-weight: 600;
    font-style: oblique;
    font-size: x-large;
}
#Email
{
    font-weight: 600;
    font-style: oblique;
    font-size: x-large;
}
form input {
    width: 20%;  /* Full width of the container */
    padding: 15px; /* Increase padding for a larger input box */
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    

}
