body{
    background-color: black;
    color: white;
}
.heading1{
    text-align: center;
    text-transform: capitalize;
    margin-top: 80px;
    font-size: 28px;
}

.div1{
    background-color:#bc9864;
    width: 75px;
    height: 70px;
    border-radius: 50%;
}
.div2{
    background-color:#bc9864;
    width: 75px;
    height: 70px;
    border-radius: 50%;
}
.div3{
    background-color:#bc9864;
    width: 75px;
    height: 70px;
    border-radius: 50%;
}
.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap:260px
}
.flex-container2{
    display: flex;
    justify-content: center;
    gap:310px;
    font-size: 25px;
    margin-top: -49px;
    color: black;
}
.Address h3{
    color: #bc9864;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}
.Phoneno h3{
    color: #bc9864;
  font-family: "Playfair Display", serif;
  font-weight: 300;
}
.emailid h3{
    color: #bc9864;
    font-family: "Playfair Display", serif;
   font-weight: 300;   
}
.flex-container3{
    display: flex;
    justify-content: center;
    gap:299px;
    margin-top: 20px;
}
.Address{
    position: absolute;
    margin-left: -600px;
    font-family:"Playfair Display", serif ;
}
.Phoneno{
    position: absolute;
    margin-left:70px;
}
.emailid{
    position: absolute;
    margin-left: 850px;
   font-family: "Playfair Display", serif;
}
.get-in-touch{
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 190px;
    text-align: center;
}
.form{
width: 100%;
max-width: 600px;
margin: auto;
padding: 20px;
border-radius: 8px;
}
.inputs,.send-button,.textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    height: 30px;
}
.inputs,.textarea{
    background-color: #555;
    color: white;
}
.send-button{
    background-color: #bc9864;
    color:white;
    height: 50px;
}
.send-button:hover{
    background-color:#E0A75E;
}


















































/* 
body{
    background-color: black;
}
.logo-style-apply{
    background-color:rgb(222, 156, 77); 
    height: 50px; 
    width: 50px;
   align-content: center;
  margin-left: 70px;
    border-radius: 50%;
}
.div-container{
    height: 150px;
    width: 180px;
    margin: auto;
   margin-top: 20px ;

   text-align: center;
color: black;


}
.main-container{
    border :2px solid black;
    height: 800px;
    width: 600px;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: aliceblue;
text-align: center;
}
h6{
    color:rgb(222, 156, 77);

}
p{
    color:white;
}
button{
    width: 100%;
    background-color: rgb(222, 156, 77);
    text-align: center;
    height: 40px;
    border-radius: 10px;
}
input{
    background-color: darkgray;
    width: 100%;
    border-radius: 10px;
    height: 35px;
    
}
.textarea-apply{
    background-color:darkgray;
    width: 100%;
    border-radius: 10px;

}

.grid-container {
    display: grid;
    background-color: black;
    gap: 5px;
    padding: 5px;
    margin: 5px;
    grid-template:auto auto auto auto;

}

.grid-item {
    background-color: white;
    padding: 0px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .item1{
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row-start:1 ;
    grid-row-end: 3;
 }
 .item2{
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start:1 ;
    grid-row-end: 2;
 }
 .item3{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:2;
    grid-row-end: 3;
 }
 .item4{
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start:1 ;
    grid-row-end: 3;
 } */
