/* Styles for Page 1 */
h1{
    text-align: center;
    text-decoration: dashed;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color:bisque;
    width: 78%;
    padding: 20px;
    margin-top:1px;
    margin-left:230px ;
   /* margin: auto;
   margin-bottom: auto; */
}
h3{
    text-transform:capitalize;
    font-weight: 700;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: wheat;
  margin: 100px;
  margin-right: 200px;
  margin-left: 200px;
}
.info-phone{
    display: flex;
   margin-right: 300px;
   padding-top: 100px;
}
.email{
    display: flex;
    margin-right: 300px;
    padding-top: 100px;
}
.contact-form {
display: flex;
/* margin-right: 300px;  */
padding-top: 100px;
justify-content: space-between;

}
.flex{
    display: flex;
    justify-content: flex-start;
    height: 30%;
}
button{
    
    border-style: double;
    background-color: brown;
    color: white;
    border-color: chocolate;
    border-top:55px;
    padding: 15px;
}
#form
{
    background-color:#dac1b2;
    width: 80%;
    margin-left: 230px;
    margin-top: 10px;
    
}
.flex{
    background-color: #FFF6DC;
    height: min-content;
    width: 80%;
    margin-left: 230px;
}
#address{
    float: right;
font-weight: 600;
font-style: oblique;
font-size: x-large;
margin-left: 100px;

}
#phone{
    font-weight: 600;
    font-style: oblique;
    font-size: x-large;
    margin-left: 5px;
    margin-left: 200px;
}
#Email
{
    font-weight: 600;
    font-style: oblique;
    font-size: x-large;
    margin-left: 10px;
}
form input {
    width: 20%;  /* Full width of the container */
    padding: 15px; /* Increase padding for a larger input box */
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    

}
